@mixin flex {
  display: flex;
}

@mixin flex-centered {
  @include flex();
  justify-content: center;
  align-items: center;
}

@mixin media-sm {
  @media screen and (max-width: 768px) {
    @content
  }
}

